body{
    background: black;
    margin: 0;
    text-decoration: none;
    padding: 0;
    color: white;
}

/*Navbar*/
.header{
  height: 100px;
  background: #2c3e50;
  padding: 0 20px;
  color: #fff;

}
.logo{
  line-height: 100px;
  float: left;
  text-transform: uppercase;
  color: white;
  margin: 0;
}

.menu{
  float: right;
  line-height: 100px;
  margin: 0;
}
.menu a{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
}
.show-menu-btn,.hide-menu-btn{
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.show-menu-btn{
  float: right;
}
.show-menu-btn i{
  line-height: 100px;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
  color: #3498db;
}

#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

/*Testo di benvenuto*/
#testo_non_responsive{
  display: grid;
}

#testo_responsive{
  display: none;
}

#text1 {
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
}

#text2 {
    text-align: center;
}

/*Opera 1*/
.middle1{
    position: absolute;
    top: 350px;
    left: 20%;
    transform: translate(-50%, -50%);
}

.card1{
    width: 400px;
    height: 260px;
}

.front1,.back1{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
    border: 2px solid white;
    border-radius: 20px;
}

.front1 img{
    height: 100%;
    width: 100%;
}

.front1{
    transform: perspective(600px) rotateX(0deg);
}

.back1{
    background: #ffffff;
    transform: perspective(600px) rotateX(180deg);
}

.back-content1{
    color: #2c3e50;
    text-align: center;
    width: 100%;
}

.card1:hover > .front1{
    transform: perspective(600px) rotateX(-180deg);
}

.card1:hover > .back1{
    transform: perspective(600px) rotateX(0deg);
}

#descrizione_opera{
    font-size: 15px;
}

.back-content #nome_opera{
    margin-bottom: -5px;
}

#qr_code1{
    display: block;
    margin: -5px auto;
    text-align: center;
    width: 30%;
}

#maggiori_informazioni{
    display: none;
}

/*Opera 2*/
.middle2{
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card2{
    width: 400px;
    height: 260px;
}

.front2,.back2{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
    border: 2px solid white;
    border-radius: 20px;
}

.front2 img{
    height: 100%;
    width: 100%;
}

.front2{
    transform: perspective(600px) rotateX(0deg);
}

.back2{
    background: #ffffff;
    transform: perspective(600px) rotateX(180deg);
}

.back-content2{
    color: #2c3e50;
    text-align: center;
    width: 100%;
}

.card2:hover > .front2{
    transform: perspective(600px) rotateX(-180deg);
}

.card2:hover > .back2{
    transform: perspective(600px) rotateX(0deg);
}

#descrizione_opera{
    font-size: 15px;
}

.back-content #nome_opera{
    margin-bottom: -5px;
}

#qr_code2{
    display: block;
    margin: -5px auto;
    text-align: center;
    width: 30%;
}

#maggiori_informazioni{
    display: none;
}

/*Opera 3*/
.middle3{
    position: absolute;
    top: 350px;
    left: 80%;
    transform: translate(-50%, -50%);
}

.card3{
    width: 400px;
    height: 260px;
}

.front3,.back3{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
    border: 2px solid white;
    border-radius: 20px;
}

.front3 img{
    height: 100%;
    width: 100%;
}

.front3{
    transform: perspective(600px) rotateX(0deg);
}

.back3{
    background: #ffffff;
    transform: perspective(600px) rotateX(180deg);
}

.back-content3{
    color: #2c3e50;
    text-align: center;
    width: 100%;
}

.card3:hover > .front3{
    transform: perspective(600px) rotateX(-180deg);
}

.card3:hover > .back3{
    transform: perspective(600px) rotateX(0deg);
}

#descrizione_opera{
    font-size: 15px;
}

.back-content #nome_opera{
    margin-bottom: -5px;
}

#qr_code3{
    width: 30%;
    display: block;
    margin: 30px auto;
    text-align: center;
}

#maggiori_informazioni{
    display: none;
}

/*Opera 4*/
.middle4{
    position: absolute;
    top: 700px;
    left: 35%;
    transform: translate(-50%, -50%);
}

.card4{
    width: 400px;
    height: 260px;
}

.front4,.back4{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
    border: 2px solid white;
    border-radius: 20px;
}

.front4 img{
    height: 100%;
    width: 100%;
}

.front4{
    transform: perspective(600px) rotateX(0deg);
}

.back4{
    background: #ffffff;
    transform: perspective(600px) rotateX(180deg);
}

.back-content4{
    color: #2c3e50;
    text-align: center;
    width: 100%;
}

.card4:hover > .front4{
    transform: perspective(600px) rotateX(-180deg);
}

.card4:hover > .back4{
    transform: perspective(600px) rotateX(0deg);
}

#descrizione_opera{
    font-size: 15px;
}

.back-content #nome_opera{
    margin-bottom: -5px;
}

#qr_code4{
    width: 30%;
    display: block;
    margin: -15px auto;
    text-align: center;
}

#maggiori_informazioni{
    display: none;
}

/*Responsive phone*/
@media screen and (max-width: 1400px) {
    /*Navbar*/
    .show-menu-btn,.hide-menu-btn{
        display: block;
    }

    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #333;
        right: -100%;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.5s;
    }

    .menu a{
        display: block;
        padding: 20px;
    }

    .hide-menu-btn{
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #chk:checked ~ .menu{
        right: 0;
    }
    /*Testo di benvenuto*/
    #testo_non_responsive{
      display: none;
    }

    #testo_responsive{
      display: grid;
    }
    
    /*Opera 1*/
    .middle1{
        position: absolute;
        top: 300px;
        left: 50%;
    }

    .card1{
        width: 260px;
        height: 170px;
    }

    .front1,.back1{
        width: 100%;
        height: 100%;
        overflow: hidden;
        backface-visibility: hidden;
        position: absolute;
        transition: transform .6s linear;
    }

    .front1 img{
        height: 100%;
        width: 100%;
    }

    .front1{
        transform: perspective(600px) rotateX(0deg);
    }

    .back1{
        background: #ffffff;
        transform: perspective(600px) rotateX(180deg);
    }

    .back-content1{
        color: #2c3e50;
        text-align: center;
        width: 100%;
    }

    .card1:hover > .front1{
        transform: perspective(600px) rotateX(-180deg);
    }

    .card1:hover > .back1{
        transform: perspective(600px) rotateX(0deg);
    }

    .opera_1{
        width: 100%;
    }

    #descrizione_opera_1{
        font-size: 12px;
    }

    #maggiori_informazioni{
        display: grid;
    }

    .back-content #nome_opera{
        margin-bottom: -5px;
    }

    #qr_code1{
        display: none;
    }
    
    /*Opera 2*/
    .middle2{
        position: absolute;
        top: 500px;
        left: 50%;
    }

    .card2{
        width: 260px;
        height: 170px;
    }

    .front2,.back2{
        width: 100%;
        height: 100%;
        overflow: hidden;
        backface-visibility: hidden;
        position: absolute;
        transition: transform .6s linear;
    }

    .front2 img{
        height: 100%;
        width: 100%;
    }

    .front2{
        transform: perspective(600px) rotateX(0deg);
    }

    .back2{
        background: #ffffff;
        transform: perspective(600px) rotateX(180deg);
    }

    .back-content2{
        color: #2c3e50;
        text-align: center;
        width: 100%;
    }

    .card2:hover > .front2{
        transform: perspective(600px) rotateX(-180deg);
    }

    .card2:hover > .back2{
        transform: perspective(600px) rotateX(0deg);
    }

    #descrizione_opera_2{
        margin-top: 20px;
        font-size: 12px;
    }

    #maggiori_informazioni{
        display: grid;
    }

    .back-content #nome_opera{
        margin-bottom: -5px;
    }

    #qr_code2{
        display: none;
    }
    
    /*Opera 3*/
    .middle3{
        position: absolute;
        top: 700px;
        left: 50%;
    }

    .card3{
        width: 260px;
        height: 170px;
    }

    .front3,.back3{
        width: 100%;
        height: 100%;
        overflow: hidden;
        backface-visibility: hidden;
        position: absolute;
        transition: transform .6s linear;
    }

    .front3 img{
        height: 100%;
        width: 100%;
    }

    .front3{
        transform: perspective(600px) rotateX(0deg);
    }

    .back3{
        background: #ffffff;
        transform: perspective(600px) rotateX(180deg);
    }

    .back-content3{
        color: #2c3e50;
        text-align: center;
        width: 100%;
    }

    .card3:hover > .front3{
        transform: perspective(600px) rotateX(-180deg);
    }

    .card3:hover > .back3{
        transform: perspective(600px) rotateX(0deg);
    }

    #descrizione_opera_3{
        margin-top: 20px;
        font-size: 12px;
    }

    #maggiori_informazioni{
        display: grid;
    }

    .back-content #nome_opera{
        margin-bottom: -5px;
    }

    #qr_code3{
        display: none;
    }
        /*-----------------------------------------------*/
    /*Opera 4*/
    .middle4{
        position: absolute;
        top: 900px;
        left: 50%;
    }

    .card4{
        width: 260px;
        height: 170px;
    }

    .front4,.back4{
        width: 100%;
        height: 100%;
        overflow: hidden;
        backface-visibility: hidden;
        position: absolute;
        transition: transform .6s linear;
    }

    .front4 img{
        height: 100%;
        width: 100%;
    }

    .front4{
        transform: perspective(600px) rotateX(0deg);
    }

    .back4{
        background: #ffffff;
        transform: perspective(600px) rotateX(180deg);
    }

    .back-content4{
        color: #2c3e50;
        text-align: center;
        width: 100%;
    }

    .card4:hover > .front4{
        transform: perspective(600px) rotateX(-180deg);
    }

    .card4:hover > .back4{
        transform: perspective(600px) rotateX(0deg);
    }

    #descrizione_opera_4{
        margin-top: 20px;
        font-size: 12px;
    }

    #maggiori_informazioni{
        display: grid;
    }

    .back-content #nome_opera{
        margin-bottom: -5px;
    }

    #qr_code4{
        display: none;
    }
}
